<% unless @result.nil? %>

  <h1>Found <%= @result.count %> '<%= what_we_looking_for(params) %>':</h1>

  <%= will_paginate @result %>

  <%= render 'layouts/list_urls', urls: @result %>

  <%= will_paginate @result %>

<% end %>
