<%= form_for(@url) do |f| %>
  <%= render 'error_explanation' %>

  <div class="form-group">
    <%= f.label :original, 'Original url' %> 
    <%= f.text_field :original, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :short, 'Short url(optional)' %>
    <%= f.text_field :short, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  
  <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>

<% end %>
