<ul class="list-group">
<% urls.each do |url| %>
  <li class="list-group-item">
    <% if user_signed_in? %>
      <div class='pull-right'>
	<%= button_tag '', title: 'Copy to clipboard', data: { clipboard_target: url.short },
			   class: 'clip_button btn btn-default glyphicon glyphicon-copy' %> |
	<%= link_to 'Edit', edit_url_path(url) %> | 
	<%= link_to 'Delete', url, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_link' %>
      </div>
    <% end %>
    <p id="<%= url.short %>"><strong><%= show_full_address(url.short) %></strong></p>
    <p><%= url.original %></p>
    <% unless url.description.empty? %>
      <blockquote><%= url.description %></blockquote>
    <% end %>
  </li>
<% end %>
</ul>
