<!DOCTYPE html>
<html>
<head>
  <title>Url Shortener</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Rails.env.development? %>
    <button id="console-toggle" class="btn btn-link btn-lg">
      <span class="glyphicon glyphicon-console"></span>
    </button>
    <% console %>
  <% end %>
  <%= render 'layouts/header' %>
  <div class='container'>
    <div class='row'>
      <% if notice.present? %>
	<p class='alert alert-success'><%= notice %></p>
      <% elsif alert.present? %>
	<p class='alert alert-danger'><%= alert %></p>
      <% else %>
	<p style='padding: 30px'></p>
      <% end %>

      <div class='col-md-offset-2 col-md-8'>
	<%= yield %>
      </div>

    </div>
  </div>
</body>
</html>
